
root = true

[*]
trim_trailing_whitespace = true
insert_final_newline = true
end_of_line = crlf

[*.{cs,c,cpp,h,cake,tt}]
indent_size = 4
indent_style = space

[*.{config,nuspec,resx,xml}]
indent_size = 2
indent_style = space

[*.{csproj,vcxproj,props,targets}]
indent_size = 2
indent_style = space

[*.sln]
indent_style = tab

[*.md]
trim_trailing_whitespace = false
