
bin/
obj/
Debug/
Release/
ipch/
.vs/
.idea/
BenchmarkDotNet.Artifacts/
cmake-*
local-*

/src/packages/*/
/build/output
/build/tools/tools
/lib

*.suo
*.user
*.sdf
*.opensdf
*.opendb
*.VC.db
*.aps
*.binlog
Thumbs.db
launchSettings.json
